numpy >= 1.24.3
scipy >= 1.10.1
pandas >= 2.0.2
matplotlib >= 3.7.1
jupyterlab >= 4.0
ipywidgets >= 8.0.6
scikit-learn >= 1.2.2
watermark >= 2.4.2
torch >= 2.0.1
torchvision >= 0.15.2
torchmetrics >= 0.11.4
transformers >= 4.30.2
lightning >= 2.0.3